#
# Apache/PHP/BOBR settings:
#
#<FilesMatch "(\.(methods|inc|info|install|module|.*sql|theme|tpl(\.php)?)|code-style\.pl|Entries.*|Repository|Root|Tag|Template)$">
#  Order allow,deny
#</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine on
   
		# Pokud chcete aby vsechny vase adresy zacinali s prefixem www tak odremujte 
		# tyto pravidla
		# RewriteCond %{HTTP_HOST} ^bobr\.konekuto\.eu$ [NC]
		# RewriteRule .* http://www.bobr.konekuto.eu/ [L,R=301]
		
		# Pokud chcete aby adresy nezacinali s www (je to hezci) tak odremujte tyto pravidla
		#
		#RewriteCond %{HTTP_HOST} ^www\.dumfinanci\.cz$ [NC]
		#RewriteRule .* http://dumfinanci.cz/ [L,R=301]
	
		# Pokud je BOBR v nejakem podadresari je potreba to sem napsat
		#RewriteBase /adresar
		
		
		RewriteRule ^bobradmin$ /bobradmin/ [R=301,QSA,L]
		RewriteRule ^bobradmin/(.*)$ /admin.php?q=$1 [L,QSA]
		
		RewriteRule ^blog$ /blog/ [R=301,QSA,L]
		RewriteRule ^blog(.*)$ /blog.php?q=$1 [L,QSA]
		
	  
		# Tato podminka prepisuje krasne url na neco cemu BOBR bude rozumnet :D
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ /index.php?q=$1 [L,QSA]

</IfModule>
# Verze .htacces je kompatibilni s verzi BOBR COPR 2.0 DEVEL