#console {
    padding: 20px;
    background-color: #f7eddf;
    color: #000;
}
#console-header h1 {
    font-family:cursive;
    font-size: 100%;
    background-color: #cc0033;
    padding: 25px;
    color: #f8f9ed;
    margin: 0;
}

#console pre, #console p {
    font-family: monospace;
    border: 1px dotted #ff6666;
    background: #ffffcc;
    padding: 10px;
    margin: 10px 0;
}

#center div {
    background-color: #00a39c;
    padding: 15px;
    margin: 10px 0;
}
#center div h3 {
    margin: 0;
    padding: 0;
    font-size: 100%;
}