body{ background: #ecd795; color: #000; margin: 0; padding: 0;}
#title{
	padding: 10px;
	background: #b63737;
	color: #ecd795;
}
.message { 
	padding: 10px;
	font-size: 20px;
}
.code{
	padding: 10px;
	margin-top: 10px;
	background: #f5e3ac;
}
pre {
	border: 1px solid black;
	border-color: #BBB #DDD #DDD #BBB;
	margin:5px 10px 0 0;
	padding: 1em;
	line-height: 1.5;
	background: white;
	overflow: auto;
}